:root {
   --input-custom-color: #333333;
}

*:focus {
    outline: none;
}

.mainboxDiv {

  box-sizing: border-box;

  text-align: center;
  position: absolute;
  width: 505px;
  height: 656px;
  left: 612px;
  top: 190px;

  background-color: #E2E2E2;
  border: 0px solid #E2E2E2;
  box-shadow: 0px 0px 0px 5px #DCA28B;
  border-radius: 0px;

  filter: drop-shadow(10px 10px 0px rgba(220, 162, 139, 0.21));

}

.welcomeMessage {

  position: absolute;
  width: 473px;
  height: 81px;
  left: 20px;
  top: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #333333;

  mix-blend-mode: normal;

}

.monText {

  position: absolute;
  width: 203px;
  height: 27px;
  left: 91px;
  top: 115px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  letter-spacing: -0.02em;

  color: #333333;

}

.monCheckbox {

  box-sizing: border-box;

  position: absolute;
  width: 36px;
  height: 37px;
  left: 34px;
  top: 121px;

  background: #E2E2E2;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 10px;
  accent-color: #DCA28B;

}

.molText {

  position: absolute;
  width: 194px;
  height: 28px;
  left: 83px;
  top: 173px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #333333;

}

.molCheckbox {

  box-sizing: border-box;

  position: absolute;
  width: 36px;
  height: 37px;
  left: 34px;
  top: 180px;

  background: #E2E2E2;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 10px;
  accent-color: #DCA28B;

}

.moscText {

  position: absolute;
  width: 297px;
  height: 28px;
  left: 91px;
  top: 232px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #333333;

}

.moscCheckbox {

  box-sizing: border-box;

  position: absolute;
  width: 36px;
  height: 37px;
  left: 34px;
  top: 239px;

  background: #E2E2E2;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 10px;
  accent-color: #DCA28B;

}

.minInputBox {

  box-sizing: border-box;

  position: absolute;
  width: 115px;
  height: 44px;
  left: 34px;
  top: 316px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  color: #333333;

  background: #E2E2E2;
  border: 0px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 5px;
  padding: 0 10px;

}

.minInputBox:hover {
  background: #C2C2C2;
  transition: 0.5s;
}

.minText {

  position: absolute;
  width: 268px;
  height: 40px;
  left: 20px;
  top: 350px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #333333;

}

.maxInputBox {

  box-sizing: border-box;

  position: absolute;
  width: 115px;
  height: 44px;
  left: 357px;
  top: 316px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  color: #333333;

  background: #E2E2E2;
  border: 0px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 5px;
  padding: 0 10px;

}

.maxInputBox:hover {
  background: #C2C2C2;
  transition: 0.5s;
}

.maxText {

  position: absolute;
  width: 268px;
  height: 40px;
  left: 225px;
  top: 350px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #333333;

}

.acText {

  position: absolute;
  width: 268px;
  height: 40px;
  left: 28px;
  top: 472px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #333333;

}

.acInputBox {

  box-sizing: border-box;

  position: absolute;
  width: 438px;
  height: 44px;
  left: 34px;
  top: 432px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  color: #333333;

  background: #E2E2E2;
  border: 0px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 5px;
  padding: 0 10px;


}

.acInputBox:hover {
  background: #C2C2C2;
  transition: 0.5s;
}

.epText {

  position: absolute;
  width: 268px;
  height: 40px;
  left: 19px;
  top: 574px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #333333;

}

.epInputBox {

  box-sizing: border-box;

  position: absolute;
  width: 296px;
  height: 44px;
  left: 34px;
  top: 535px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  color: #333333;

  background: var(--input-custom-color);
  border: 0px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 5px;
  padding: 0 10px;

}

.epInputBox:focus {
  outline: none;
}

.epInputBox:hover {
  background: #C2C2C2;
  transition: 0.5s;
}

.submitButton {

  box-sizing: border-box;

  position: absolute;
  width: 115px;
  height: 44px;
  left: 357px;
  top: 535px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #DCA28B;

  background: #E2E2E2;
  border: 0px solid #E2E2E2;
  box-shadow: 0px 0px 0px 2px #DCA28B;
  border-radius: 0px;

}

.submitButton:hover {
  background-color:#DCA28B;
  color: #E2E2E2;
  transition: 0.5s;
  cursor: pointer;
}
