h1 {

  text-align: center;
  position: absolute;
  width: 314px;
  height: 101px;
  left: 707px;
  top: 0px;

  font-family: "Post No Bills Colombo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;
  letter-spacing: -0.02em;

  color: #3E5DFF;

}
